#navigation {
    background-color: #000000 !important;
}

.nav-link {
    transition: 1s;
}

#header{
    font-size: 250% !important;
}

.border-left {
    border-width: 20px !important;
}

#space-top {
    padding-top: 20px;
}

#parag {
    font-size: 25px;
}

